<div class="mb-message" data-message-id="<%= data.id %>">
  <a class="mb-unfocus">X</a>
  <div class="header">
    <h2 class="author">
      <%= data.author %>
      <span class="dt-posted"><%= data.dt_posted %></span>
    </h2>
  </div>
  <div class="content">
    <%= data.content %>
  </div>
  <% if(data.webpages && data.webpages.length > 0){ %>
    <div class="mb-site-content site-content"></div>
  <% } %>
</div>